body {
  --bg-col: #0077ff;
  --border-col: #f57500;
  --ball-col: #ff4a21;
  background-color: var(--bg-col);
  /* text-align: center; */
  display:  grid;
  place-items: center center;
  margin: 0 auto;
  overflow: hidden;
}

#field {
  display: grid;
  padding: 2vw;
  background-color: black;
  border: 3px solid var(--border-col);
  border-radius: 6px;
  position: relative;
  width: 80vw;
  min-height: 80vh;
  margin: 0 auto;
  align-self: center;
  overflow: hidden;
  margin-top: 5vh;
}
.ball {
  background-color: var(--ball-col);
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  z-index: 255;
  position: absolute;
}

#ball-zero {
  display: none;
}